<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='index.css')}}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='phoSuperBowlLogo.jpg')}}">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:slnt,wght@-10..0,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Pho Super Bowl</title>
</head>
<body>
    <a href="#site-navigation" id="skip-link">Skip to menu</a>
    <nav id="navigation-bar" aria-label="Pho Super Bowl Navigation Bar">
        <div id="logo-container">
            <img id="pho-superbowl-logo" src="{{url_for('static', filename='phoSuperBowlLogo.jpg')}}" alt="Pho Super Bowl logo">
            <div>
                <h1 class="inter-800 co-name">PHỞ SUPER BOWL</h1>
                <h2 class="inter-400">&lpar;626&rpar;293-7018</h2>
            </div>
        </div>
        <address class="inter-400">1300 E MAIN ST. STE #105<br>ALHAMBRA, CA 91801</address>
        <div id="navigation-menu-links" aria-label="Navigation menu links">
            <a class="inter-600" aria-label="About Pho Super Bowl">ABOUT</a>
            <a class="inter-600" aria-label="Food menu">MENU</a>
            <a class="inter-600" aria-label="What is pho?">WHAT IS PHO?</a>
        </div>
    </nav>
    <main>
        <img id="pho-bowl" src="{{url_for('static', filename='phobowl.png')}}" alt="Hands holding a bowl of pho">
        
    </main>    
    <div style="height:100vh">something</div>
    <div id="site-navigation">site nav</div>
</body>
</html>